*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

body{
  font-family: 'Open Sans', sans-serif;
  
}
.banner{
    background-image :url('./resources/Banner\ Image.png');
    width: 1160px;
    height: 550px;
    border-radius: 16px;     
    background-size:  cover;
    background-position: right center;
    background-repeat: no-repeat;
   
}

  .banner-title{
    color: #ffffff;
    display: block; 
    text-align: center; 
  }  
#title{ 
    padding-top: 170px;
    font-size: 32px;
    font-weight: 600;
}
#content{ 
  padding-top: 30px; 
  padding-left: 380px;
   width: 65%;
    font-size: 42px;
    font-weight: 900;
}
.container{
  background-color: #fff; 
  border-radius: 2px;
  width:1600px ;
  height: 1000px;
  margin-right: 60px;
  margin-left: 120px;
  background-position: center;
}
 
  .content{
    text-align:center;
    margin-right: 700px;
    margin-top: 200px;        
  }

#off{
  font-size: 60px;
  font-weight: 700;
}
#our{
  font-size: 12px;
  font-weight:500;
}
#all{
  font-size: 30px;
  font-weight: 500;
}
.off{
  background-image:url('./resources/New\ Year\ Photo.png'); 
  margin-left: 50px;
  background-repeat: no-repeat;
  background-color: #fff;
  width: 802.9px;
  height: 500px;   
}
.templete{
  background-image: url('./resources/Vectorrr.png');
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-size:cover; 
  width: 1120px;
  height: 600px;
}
.templete-title{
  font-size: 58px;
  font-weight: 900;
  color: #fff;
  width: 624px;
}
#templete-title{
  font-size: 18px;
  font-weight: 400;
  color: #ffffff95;
  width: 497px;
}
.image{
  width: 319.83px;
  height: 464.662px;
  padding: 0.08px  0px 0px 0px;
}
.join{
  margin-top: 40px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color:black ;
  font-size:15px ;
  font-weight: 700;
  margin-left: 30px;
}
.btn-pro{
  color: white;
  background-color: orangered;
  font-size: 20px;
  font-weight: 700;
  border: none;
  border-radius: 6px;
  padding: 16px 32px;
  align-items: center;
  margin-top: 48px;
  
}
.coming-container{
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}
.coming{
  padding-top: 150px;
  width:30%;
}
.coming >h2{
  font-size: 28px;
  font-weight: 700;
}
.justify-img{
  border: 10px solid orangered;
  border-radius: 463px;
  background-repeat: no-repeat;
  align-items: center;
  padding: 30px;
  margin:70px;
}
.para{ 
  padding-top: 20px;
  font-size: 14px;
  font-weight: 500;
  color: rgba(7, 2, 17, 0.60);
}
#soon{
  color: #070211;
    font-size: 32px;
    font-weight: 900;
}
.happy{
   padding-top: 43px;
   width: 140px;
   height: 140px;
}
.holiday-container{
  background-color:#fff;
  padding-top: 30px;
}
.holiday-sale >h1{
     font-size: 72px;
     font-weight: 900;
} 
.holiday-sale >p{
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
.holiday-sale >h6{
  font-size: 24px;
  font-weight: 500;
}
.holiday-sale{
  text-align: center;
}
#gift{
  position: relative;
  top: 200px;
  width: 530px;
  height:500px;
}
#red{
  border-radius: 16px 0 0 16px;
  width: 162%;
  height: 35%;
}
#mark{
  position: relative;
  width: 250px;
  bottom: 290px;
  right: 100px;
}
.like{
  display: flex;
}
#pic{
  position: relative;
  top:72px
}
.bag{
  background-color: #fff;
  text-align: left;
  padding-right: 50%;
  padding-top: 150px;
}
.hover{
  border: 5px solid white;
}
.hover:hover{
  background-color: red;
  border-color: red;
}
.bag-content{
  padding-left: 30px;
}
.bag-content >p{
  padding-top: 20px;
  color: rgba(7, 2, 17, 0.6)
}
.bag-content >h4{
   font-size: 24px;
  font-weight: 500;
}
.bag-content >h3{
  font-size: 38px;
  font-weight: 900;
}
.bag-img{
    display: flex;
    margin: 30px;
    gap: 20px;
}
.maill{
  background-color:rgba(255, 192, 203, 0.201);
}
.maill-content{
  text-align: center;
}
.we{
  padding: 22px 212px 38px 212px;  
}
.as{
  padding-top: 40px;
}
#as{
  padding-top: 80px;
}
.value{
  padding:80px 200px ;
}
#email{
  font-size: 13px;
  font-weight: 400;
  border-radius: 50px 0 0 50px;
  padding: 27px 336px 25px 30px;
}
#submit{
  color: #fff;
  background-color: orangered;
  font-size: 18px;
  font-weight: 600;
  border-radius: 0 50px 50px 0;
  height: 72px;
  padding:24px 48px ;
}
 .footer{
  background-color: #070211;
  margin-top: 120px;
 } 
.footer-container{
  display: flex;
  justify-content: space-around;
}
.footer-content{
  padding-top: 120px;
  color: white;
}
#color{
  color: #fff;
  text-decoration: none;
}
.social-links{
  text-align: center;
  position: relative;
  gap: 20px;
  padding: 250px 140px 199px 140px;
}
.footer-bottom{
  display: flex;
  justify-content: space-around;
  color: #fff;
  padding-bottom: 120px;
}
.ft{
  margin-right: 12px;
}
.column{
  display: block; 
}
#social{
  border: 5px solid;
  border-left: none;
  border-right: none;
  margin: 150px;
}
#social:hover{
  color: aqua;
}
