


.banner{
    background-image: url('./resources/Banner\ Image.png');
    width: 1160px;
    height: 550px;
   
    background-size:  cover;
    background-position: right center;
    background-repeat: no-repeat;
   
}

  .banner-title{
    color: #fff;
    display: block;
    text-align: center;
    /* padding-top: 250px; */
  }  

#title{
    padding-top: 200px;
    font-size: 32px;
    font-weight: 400;
}
#content{
    font-size: 42px;
    font-weight: 900;
}
   



